@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: rgb(122, 131, 139);
    --background-color2: rgb(255, 255, 255);
    --background-color3: rgb(82, 82, 82);
    --accent-color: rgb(61, 53, 57);
    --accent-color2: rgb(44, 40, 40);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: "Exo 2", sans-serif;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper, .portfolio {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    color:var(--background-color2);
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu .active {
    color: var(--accent-color2);
}

.menu a{
    background-color: var(--background-color3);
    color:var(--background-color) ;
    border-radius: 30px;
    box-shadow: 1px 3px 11px -5px rgb(32, 231, 185);
}

.menu a:hover {
    background-color: var(--accent-color);
    color:var(--background-color) ;
    transition: ease-in 0.35s;
    border-radius: 30px;
}

.menu a {
    color: var(--background-color2);
    text-decoration: none;
    padding: 10px 20px;
}

.menu li {
    list-style: none;
}

.brand {
    margin-top: -8px;
    margin-left: -4rem;
}

.brand span {
    color: var(--accent-color2);
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
}

.h1 {
    font-size: 3em;

}

span {
    color: var(--accent-color2);
}

.download-cv {
    padding: 10px 20px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgb(32, 231, 185);
}

.download-cv:hover {
    background-color: var(--background-color2);
    box-shadow: none;
}

.main img {
    border: 7px solid var(--accent-color);
    border-radius: 50%;
    width: 80%;
    height: 80%;
}

.info-content {
    align-items: center;
    align-self: center;
    padding: 1em;
}

.about {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100vw;
    align-items: center;
}

.about img {
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 2em;
}

.about-info h2 {
    font-size: 2em;
    color: var(--background-color);
}

.divider {
    height: 4px;
    width: 7rem;
    background-color: var(--accent-color2);
    margin-top: 10px;
    margin-bottom: 1.5em;
    transition: width 0.3s ease-in-out; 
}

.about-info:hover .divider {
    width: 50px; 
}

.about p {
    margin-bottom: 1em;
}

.portfolio-headings:hover .divider {
    width: 300px;
}

.portfolio-headings {
    width: 100vw;
    padding: 1em;
}

.portfolio-headings h2 {
    font-size: 2.5em;
}

.portfolio .container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; /* Distribuir los cards equitativamente */
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 350px;
    background-color: var(--accent-color);
    margin: 1em;
}

.card__img {
    width: 100%;
    height: 150px;
    background-image: url(../images/imagen.jpg);
    background-size: cover;
}

.card__title {
    padding: 20px;
}

.projects-links {
    display: flex;
    justify-content: space-evenly;
}

.projects-links a {
    color: var(--background-color2);
    text-decoration: none;
}

.projects-links i {
    font-size: 1.5em;
}

.card .projects-details {
    margin: 0 auto;
    width: 70%;
    
}

.card .projects-details a {
    text-decoration: none;
    color: var(--background-color);
    text-transform: uppercase;
}

.projects-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

.contact-section {
    padding: 3em;
    margin: 0 auto;
}

.container-contact {
    display: flex;
}

.container-contact img {
    width: 100%;
    height: 150px;
    bottom: 0;
}

.contact-form {
    padding: 3em;
}

.contact-form:hover .divider {
    width: 25%;
}

.contact-headings h2 {
    font-size: 3em;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border-bottom: 1px solid white;
    color: var(--accent-color);
}

.form textarea {
    height: 150px;
    background: none;
    color: var(--accent-color);
    padding: 1.5em;
    border-bottom: 1px solid white;
}

.btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgb(32, 231, 185);
    border-radius: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: var(--background-color);
    text-align: center;
}

.footer-content h2 {
    font-size: 3em;
}

.footer-content h5 {
    font-size: 1.5em;
}

.sotial-network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

.sotial-network i {
    font-size: 1.5em;
}

/* responsive */
/* Aplicar estilos específicos para pantallas más pequeñas utilizando media queries */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Cambiar a disposición de columna en dispositivos móviles */
        align-items: center; /* Centrar los cards */
        overflow-x: auto;
    }

    .card {
        width: calc(100% - 2em); /* Ancho completo menos el espacio del margen */
        margin-bottom: 1em; /* Espacio entre los cards */
    }
}

@media screen and (max-width: 768px) {
    .container-contact {
        flex-direction: column; /* Cambiar a disposición de columna en pantallas más pequeñas */
        align-items: center; /* Centrar las tarjetas */
    }

    .contact-form {
        width: 100%; /* Ancho completo en pantallas más pequeñas */
        margin-bottom: 1em; /* Espacio entre las tarjetas */
    }
    .container-contact img {
        width: 100%; /* Ancho completo en pantallas más pequeñas */
        margin-bottom: 1em; /* Espacio entre las tarjetas */
    }
    .portfolio{
        padding: 5%; /* Espacio interno */
    }
    .portfolio-headings{
        padding: 1em;
    }
    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr; /* Dos filas automáticas */
        justify-items: center;
        align-items: center;
        grid-template-areas:
            "image"
            "text";
    }
    .main img {
        height: 200px;
        width: 200px;
        grid-area: image;
    }
    .info-content {
        grid-area: text; /* El texto ocupa el área "text" */
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: grid;
        grid-gap: 1.5em;
        width: 50%;
        justify-content: space-around;
    } 
    .form {
        width: 50vw;
    }
    .form input {
        margin: 5px ;
    }
}
/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Cambiar la dirección de la fila a columna */
        align-items: flex-start; /* Alinear elementos a la izquierda */
    }

    .menu {
        order: 2; /* Cambiar el orden del menú */
    }

    .brand {
        order: 1; /* Cambiar el orden del elemento .brand */
        margin-left: auto; /* Mover el elemento .brand hacia la derecha */
    }
    .menu {
        position: fixed; /* Establecer la posición fija */
        top: 40px; /* Alinear el menú en la parte superior */
        left: 0;
        width: 40%; /* Asegurar que el menú ocupe todo el ancho */
        z-index: 1000; /* Ajustar la superposición para asegurar que el menú esté encima de otros elementos */
    }
}

/*rotation navigation*/
*,*:before,*:after {
	box-sizing: border-box;
}

:after {
	content: "";
}

section {
  position: relative;
  left: 100px;
}

h1 { 
  margin:80px 0 10px 0;
  font-size: 52px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #DC143C,
	2px 2px 0px #DC143C,
	3px 3px 0px #DC143C,
	4px 4px 0px #DC143C;
}

h2 {
  font-size: 24px;
}

body {
  padding: 100px 0;
	background: lightblue;
  color: white;
  max-width:640px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
  line-height:1.4;
  font-smoothing: anti-aliased;
}

nav {
  float: left;
	position: relative;
	top: 0;
  left: 0;
	background: transparent;
}

nav ul {
	text-align: center;
}

nav ul li {
	position: relative;
  width: 70px;
  cursor: pointer;
	background: crimson;
	text-transform: uppercase;
	transition:all .4s ease-out;
}

nav ul li:after {
	position: absolute;
	background: white;
	color: crimson;
	top:0;
	left: 70px;
	width: 70px; height: 100%;
  opacity:.5;
  transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s ease-out;
}

nav ul li:nth-child(1):after { 
	content: "Home";
	line-height: 88px;
}
nav ul li:nth-child(2):after { 
	content: "About";
	line-height: 88px;
}
nav ul li:nth-child(3):after { 
	content: "Work";
	line-height: 85px;
}
nav ul li:nth-child(4):after { 
	content: "Say hi";
	line-height: 70px;
}

nav ul li:hover {
	transform: translateX(-70px);
}

nav ul li:hover:after {
  opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
}


nav ul li > div {
	display: inline-block;
	padding: 25px 0;
	background: transparent;
}

nav ul li div { position: relative; }

.roof {
	width: 0;
	height: 0;
	top:2px;
	border-style: solid;
	border-width: 0 21px 15px 21px;
	border-color: transparent transparent #ffffff transparent;
}

.roof-edge {
	position: absolute;
	z-index: 20;
	left: -17px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 17px 12px 17px;
	border-color: transparent transparent crimson transparent;
}
/*white triangle over red triangle*/
.roof-edge:after {
	position: absolute;
	left: -14.5px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 14.5px 10px 14.5px;
	border-color: transparent transparent white transparent;
}

.front {
	position: relative;
	top: 3px;
	width: 28.5px;
	height: 20px;
	margin: 0 auto;
	background: white;
}
/*door*/
.front:after {
	position: absolute;
	background: crimson;
	width: 11px;
	height: 13px;
	bottom: 0;
	left:9px;
}

/*/// About me ////*/

.head {
	width: 32px;
	height: 35px;
	background: white;
	border-radius:8px;
}
/*mouth*/
.head:after {
	width: 4px;
	height: 10px;
	background: white;
	position: absolute;
	border-radius:4px 0 0 4px;
	top:21px;
	left: 14px;
	transform:rotate(270deg);
}

.eyes {
	width: 8px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 5px;
	background: crimson;
}
/*right eye*/
.eyes:after {
	width: 8px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 14px;
	background: crimson;
}

.beard {
	width: 32px;
	height: 17px;
	background: crimson;
	border:2px solid white;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius:0 0 8px 8px;
}
/*nose*/
.beard:after {
	position: absolute;
	top:-2px;
	left: 11px;
	background: white;
	width:6px;
	height: 4px;
	border-left:1px solid crimson;
	border-right:1px solid crimson;
}

/*//work//*/

.paper {
	position: relative;
	height:32px;
	width: 29px;
	background: white;
	border:2px solid white;
}

/*window*/
.paper:after {
	position: absolute;
	top:1px;
	left: 0;
	width: 25px;
	height: 29px;
	background: white;
	border-top:4px solid crimson;
}

.lines {
	position: absolute;
	top: 36px;
	left: 5px;
	width: 11px;
	box-shadow: 0 0 0 1px crimson;
}

.lines:after {
	position: absolute;
	top: 4px;
	left: 3px;
	width: 14px;
	box-shadow: 0 0 0 1px crimson;
}

.lines:nth-child(2) {
	position: absolute;
	top: 44px;
	left: 8px;
	width: 11px;
}

.lines:nth-child(2):after {
	position: absolute;
	top: 4px;
	left: -3px;
	width: 11px;
}

.lines:nth-child(3) {
	position: absolute;
	top: 52px;
	left: 8px;
	width: 14px;
}

.lines:nth-child(3):after {
	display: none;
}

/*//mail //*/

.mail-base {
	position: relative;
	width: 32px;
	height: 18px;
	background: white;
}

.mail-top {
	position: absolute;
	z-index: 20;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	transform: rotate(180deg);
	border-style: solid;
	border-width: 0 16px 11px 16px;
	border-color: transparent transparent crimson transparent;
}

.mail-top:after {
	position: absolute;
	z-index: 20;
	left: -16px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 16px 9px 16px;
	border-color: transparent transparent white transparent;
}

